{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Etapa 2 <small>Diagnóstico Inicial LGPD</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Configurações 1</a>
                  </li>
                  <li><a href="#">Configurações 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><i class="fa fa-align-left"></i> Formulário de Diagnóstico <small>Responda as perguntas de acordo com a situação atual da empresa. </small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
    
                  <!-- start accordion -->
                  <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel">
                      <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="panel-title">Aspectos Empresariais</h4>
                      </a>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                        <div class="panel-body">
                          
                          <form class="form-horizontal form-label-left">

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Sua empresa atende clientes CPF? (B2C) ou CNPJ (B2B)? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                 <p>
                                  <input type="radio" class="flat" name="p01" id="p01-CPF" value="CPF"  /> CPF (B2C) 
                                  | <input type="radio" class="flat" name="p01" id="p01-CNPJ" value="CNPJ" />CNPJ (B2B)
                                  | <input type="radio" class="flat" name="p01" id="p01-DUPLO" value="DUPLO" /> Duas Modalidades (B2B 2 B2C)
                                  | <input type="radio" class="flat" name="p01" id="p01-NI" value="NI" /> Não Sei Informar
                                </p>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Sua empresa recebe/trata/manipula dados pessoais? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                 <p>
                                  <input type="radio" class="flat" name="p02" id="p02-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p02" id="p02-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p02" id="p02-S" value="S" /> Sim (Quais?):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Sua empresa compartilha/envia dados pessoais a terceiros (Parceiros/Fornecedores)?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                 <p>
                                  <input type="radio" class="flat" name="p03" id="p03-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p03" id="p03-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p03" id="p03-S" value="S" /> Sim (Quais?):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Sua empresa possui canal de atendimento para solicitações de privacidade de dados?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                 <p>
                                  <input type="radio" class="flat" name="p04" id="p04-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p04" id="p04-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p04" id="p04-S" value="S" /> Sim (Quais?):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Na sua visão quais áreas da empresa devem ser envolvidas no processo?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <div class="col-md-6 col-sm-9 col-xs-12">
                                  <small> Selecione todas áreas aplicáveis (segure tecla ctrl)</small>
                                  <select class="select2_multiple form-control" multiple="multiple">
                                    <option>Jurídico</option>
                                    <option>Tecnologia da Informação</option>
                                    <option>Recursos Humanos</option>
                                    <option>Marketing </option>
                                    <option>Vendas</option>
                                    <option>Diretoria Executiva</option>
                                  </select>
                                </div>
                              </div>
                            </div>


                          </form>

                        </div>

                      
                      </div>
                    </div>


                    <div class="panel">
                      <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="panel-title">Ações de Adequação</h4>
                      </a>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                        <div class="panel-body">
                          <form class="form-horizontal form-label-left">

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Já houve alguma iniciativa/ação de implantação da LGPD?:</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                 <p>
                                  <input type="radio" class="flat" name="p06" id="p06-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p06" id="p06-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p06" id="p06-S" value="S" /> Sim (Quais?):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Existe alguma pessoa designada como responsável/DPO?:</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p07" id="p07-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p07" id="p07-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p07" id="p07-S" value="S" /> Sim (Quem? - Informe nome/email):
                                </p>
                                <input type="text" class="form-control" placeholder="">

                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Sua empresa já possui apoio de escritórios de advocacia / consultoria de LGPD? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p08" id="p08-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p08" id="p08-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p08" id="p08-S" value="S" /> Sim (Quais? - Informe nomes dos parceiros):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Já foram mapeados os usos das informações pessoais? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p09" id="p09-N" value="N" /> Não 
                                  | <input type="radio" class="flat" name="p09" id="p09-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p09" id="p09-S" value="S" /> Sim (Quais? - Informe os processos mapeados):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>


                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right"> Houve algum treinamento para as pessoas envolvidas? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p10" id="p10-N" value="N"/> Não 
                                  | <input type="radio" class="flat" name="p10" id="p10-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p10" id="p10-S" value="S" /> Sim (Quais? - Informe os treinamentos realizados):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right"> Existem políticas de tratamento de dados pessoais já definidos? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p11" id="p11-N" value="N" /> Não 
                                  | <input type="radio" class="flat" name="p11" id="p11-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p11" id="p11-S" value="S" /> Sim (Informe link para Políticas):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                          </form>

                        </div>

                      
                      </div>
                    </div>


                    <div class="panel">
                      <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class="panel-title">Aspectos de TI/Tecnologia</h4>
                      </a>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                          <form class="form-horizontal form-label-left">

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right"> Existe equipe de TI ? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                 <p>
                                  <input type="radio" class="flat" name="p12" id="p12-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p12" id="p12-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p12" id="p12-SI" value="S" /> Sim (Interna)
                                  | <input type="radio" class="flat" name="p12" id="p12-ST" value="S" /> Sim (Terceirizada)
                                </p>
                              </div>
                            </div>


                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">  Há envolvimento da Equipe da TI?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p13" id="p13-N" value="N" /> Não 
                                  | <input type="radio" class="flat" name="p13" id="p13-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p13" id="p13-S" value="S" /> Sim (Informe os detalhes):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">  Existe equipe de Segurança da Informação?   :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p14" id="p14-N" value="N"  /> Não 
                                  | <input type="radio" class="flat" name="p14" id="p14-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p14" id="p14-SI" value="S" /> Sim (Interna)
                                  | <input type="radio" class="flat" name="p14" id="p14-ST" value="S" /> Sim (Terceirizada)
                                </p>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">  Há envolvimento da Equipe da Segurança da Informação?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p15" id="p15-N" value="N" /> Não 
                                  | <input type="radio" class="flat" name="p15" id="p15-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p15" id="p15-S" value="S" /> Sim (Informe os detalhes):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>                    

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">Quais sistemas sua empresa utiliza?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <div class="col-md-6 col-sm-9 col-xs-12">
                                  <small> Selecione os sistemas aplicáveis (segure tecla ctrl)</small>
                                  <select class="select2_multiple form-control" multiple="multiple">
                                    <option>Sistema de Gestão ERP</option>
                                    <option>Sistema de CRM/Vendas</option>
                                    <option>Sistema de RH/Folha de Pagamento</option>
                                    <option>Sistemas Externos de Mail Marketing</option>
                                    <option>Sistema Financeiro/Billing</option>
                                    <option>Sistemas Desenvolvidos Internamente</option>
                                  </select>
                                </div>
                              </div>
                            </div>                    

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">  Há critérios da LGPD já observados nestes sistemas? :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p17" id="p17-N" value="N" /> Não 
                                  | <input type="radio" class="flat" name="p17" id="p17-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p17" id="p17-S" value="S" /> Sim (Informe os detalhes):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>       

                            <div class="form-group">
                              <label class=" col-md-12 col-sm-3 col-xs-12 pull-right">  Existem políticas de segurança da informação já definidas?  :</label>
                              <div class="col-md-12 col-sm-9 col-xs-12">
                                <p>
                                  <input type="radio" class="flat" name="p18" id="p18-N" value="N" /> Não 
                                  | <input type="radio" class="flat" name="p18" id="p18-NI" value="NI" />Não Sei Informar 
                                  | <input type="radio" class="flat" name="p18" id="p18-S" value="S" /> Sim (Informe os detalhes):
                                </p>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                            </div>       

                          </form>

                        </div>

                      </div>
                    </div>
                    
                  </div>
                  <!-- end of accordion -->

   
                </div>
              </div>
            </div>
            <!-- Botões -->
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 ">
                <a href="lgpd_home.html"><button type="button" class="btn btn-warning">Cancelar</button></a> 
                <a href="#"><button type="button" class="btn btn-success">Salvar Dados</button></a>
                <a href="lgpd_etapa_1.html"><button type="button" class="btn btn-info">Etapa Anterior</button></a>
                <a href="lgpd_etapa_3.html"><button type="button" class="btn btn-primary">Próxima Etapa</button></a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

{% endblock javascripts %}
