{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    
    <!-- Modal Bem Vindo-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modal-welcome">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h2 class="modal-title" id="myModalLabel">Bem Vindo!</h2>
          </div>
          <div class="modal-body">
            <h3>Bem vindo a LGPD-Pro</h3>
            <p>O primeiro passo para a utilização da plataforma é seguir o passo-a-passo abaixo. </p>
            <p>A LGPD-Pro permite a adequação a lei geral de proteção de dados através de um Passo-A-Passo intuitivo e automático consistentem em 4 etapas: </p>
            <ul>
              <li>1. Etapa de Dados Cadastrais</li>
              <li>2. Etapa de Diagnóstico Inicial</li>
              <li>3. Etapa de Configuração do Fluxo</li>
              <li>4. Etapa de Inicio da Execução</li>
            </ul>
            <p>Para iniciar o fluxo, clique em "Iniciar"</p>
            <p>Você poderá acessar as etapas a qualquer momento. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Iniciar</button>
            <!-- <a href="lgpd_etapa_1.html"><button type="button" class="btn btn-primary">Iniciar Fluxo</button></a> -->
          </div>

        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Etapa 1 <small>Dados Cadastrais da Empresa e dos Envolvidos</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Configurações 1</a>
                  </li>
                  <li><a href="#">Configurações 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                
                <div class="col-md-12 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2><i class="fa fa-align-left"></i> Dados Cadastrais <small>Preencha os dados da empresa e dos usuários que participarão da implantação da LGPD</small></h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
        
                      <!-- start accordion -->
                      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                          <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Dados da Empresa</h4>
                          </a>
                          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                              <form class="form-horizontal form-label-left">

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Razão Social</label>
                                  <div class="col-md-6 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Nome Fantasia</label>
                                  <div class="col-md-5 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">CNPJ</label>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" data-inputmask="'mask': '99.999.999/9999-99'">
                                  </div>
                                </div>                                
                                
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Endereço</label>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>                                

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Bairro</label>
                                  <div class="col-md-4 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>                                

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Cidade</label>
                                  <div class="col-md-3 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>                                

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
                                  <div class="col-md-2 col-sm-9 col-xs-12">
                                    <select class="form-control">
                                      <option>Selecione o Estado</option>
                                      <option value="AC">Acre</option>
                                      <option value="AL">Alagoas</option>
                                      <option value="AP">Amapá</option>
                                      <option value="AM">Amazonas</option>
                                      <option value="BA">Bahia</option>
                                      <option value="CE">Ceará</option>
                                      <option value="DF">Distrito Federal</option>
                                      <option value="ES">Espírito Santo</option>
                                      <option value="GO">Goiás</option>
                                      <option value="MA">Maranhão</option>
                                      <option value="MT">Mato Grosso</option>
                                      <option value="MS">Mato Grosso do Sul</option>
                                      <option value="MG">Minas Gerais</option>
                                      <option value="PA">Pará</option>
                                      <option value="PB">Paraíba</option>
                                      <option value="PR">Paraná</option>
                                      <option value="PE">Pernambuco</option>
                                      <option value="PI">Piauí</option>
                                      <option value="RJ">Rio de Janeiro</option>
                                      <option value="RN">Rio Grande do Norte</option>
                                      <option value="RS">Rio Grande do Sul</option>
                                      <option value="RO">Rondônia</option>
                                      <option value="RR">Roraima</option>
                                      <option value="SC">Santa Catarina</option>
                                      <option value="SP">São Paulo</option>
                                      <option value="SE">Sergipe</option>
                                      <option value="TO">Tocantins</option>
                                    </select>
                                  </div>
                                </div>                          
                                
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">CEP</label>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" data-inputmask="'mask': '99999-999'">
                                  </div>
                                </div>                                   
             
                              </form>

                            </div>
                          </div>
                        </div>


                        <div class="panel">
                          <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title">Informações Adicionais da Empresa</h4>
                          </a>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">

                              <form class="form-horizontal form-label-left">
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ramo de Autação</label>
                                <div class="col-md-3 col-sm-9 col-xs-12">
                                  <select class="form-control">
                                    <option>Selecione a Opção</option>
                                    <option>e-Commerce</option>
                                    <option>Instituição Financeira</option>
                                    <option>Consultoria</option>
                                    <option>Turismo</option>
                                  </select>
                                </div>
                              </div>
                           

                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Data de Constituição</label>
                                <div class="col-md-2 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" data-inputmask="'mask': '99/99/9999'">
                                  <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Número de Funcionários</label>
                                <div class="col-md-1 col-sm-9 col-xs-12">
                                  <input type="text" class="form-control" placeholder="">
                                </div>
                              </div>


                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Faturamento Bruto Anual</label>
                                <div class="col-md-3 col-sm-9 col-xs-12">
                                  <select class="form-control">
                                    <option>Selecione a Opção</option>
                                    <option>Até R$ 2 Milhões</option>
                                    <option>De R$ 2 Até 4 Milhões</option>
                                    <option>De R$ 4 Até 8 Milhões</option>
                                    <option>Acima de R$ 8 Milhões</option>
                                  </select>
                                </div>
                              </div>
                           

                            </form>

                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4 class="panel-title">Pessoas Envolvidas</h4>
                          </a>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              
                              <div class="col-md-9 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2>Cadastro <small>Pessoas Envolvidas nos projetos de LGPD</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                      </li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                          <li><a href="#">Adicionar Pessoa</a>
                                          </li>
                                          <li><a href="#">Carregar Lista (Planilha)</a>
                                          </li>
                                        </ul>
                                      </li>
                                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                                      </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                      
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th><input type="checkbox"></input></th>
                                          <th>#</th>
                                          <th>Nome</th>
                                          <th>Perfil</th>
                                          <th>Email</th>
                                          <th>Data Cadastro</th>
                                          <th>Status</th>
                                          <th>Ações</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th><input type="checkbox"></input></th>
                                          <th scope="row">1</th>
                                          <td>Jorge Ferreira</td>
                                          <td>Administrador</td>
                                          <td>jferreira@cliente.com.br</td>
                                          <td>25/02/2021 14:52</td>
                                          <td>Ativo</td>
                                          <td><i class="fa fa-pencil"></i> <i class="fa fa-ban"></i></td>
                                        </tr>
                                        <tr>
                                          <th><input type="checkbox"></input></th>
                                          <th scope="row">2</th>
                                          <td>Caio Tadeu</td>
                                          <td>Responsável RH</td>
                                          <td>ctadei@cliente.com.br</td>
                                          <td>26/02/2021 09:40</td>
                                          <td>Convite Pendente</td>
                                          <td><i class="fa fa-pencil"></i> <i class="fa fa-ban"></i></td>
                                        </tr>
                                        <tr>
                                          <th><input type="checkbox"></input></th>
                                          <th scope="row">3</th>
                                          <td>Marcia da Silva</td>
                                          <td>Responsável TI</td>
                                          <td>msilva@cliente.com.br</td>
                                          <td>26/02/2021 09:20</td>
                                          <td>Em Cadastro</td>
                                          <td><i class="fa fa-pencil"></i> <i class="fa fa-ban"></i></td>
                                        </tr>
                                      </tbody>
                                    </table>
                      
                                  </div>
                                </div>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- end of accordion -->
 
       
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <a href="lgpd_home.html"><button type="button" class="btn btn-warning">Cancelar</button></a> 
                    <a href="#"><button type="button" class="btn btn-success">Salvar Dados</button></a>
                    <!-- <button type="button" class="btn btn-info" disabled>Etapa Anterior</button> -->
                    <a href="lgpd_etapa_2.html"><button type="button" class="btn btn-primary">Próxima Etapa</button></a>
                  </div>
                </div>

          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}


  <script type="text/javascript">

    $(document).ready(function() {
        
      $('#modal-welcome').modal('show');
          //if (document.cookie.indexOf("PrimeiroAcesso=true") == -1) {
          //  document.cookie = "PrimeiroAcesso=true; max-age=900"; // 15 Minutos
          //  $('#modal-welcome').modal('show');
         // }

    });

  </script>

  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

{% endblock javascripts %}
