{% extends "app/base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Market Place de Treinamentos</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Termpo de Pesquisa...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Buscar</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Treinamentos Homologados de Nossos Parceiros</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
  
                  <div class="col-md-12">
  
                    <!-- price element -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing">
                        <div class="title">
                          <h2>LGPD Básico/Inicial</h2>
                          <h1>Grátis</h1>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Treinamento Inicial <strong> oficial</strong> para os ususários</li>
                                <li><i class="fa fa-check text-success"></i> 40 Horas de <strong>Conteúdo</strong> da LGPD</li>
                                <li><i class="fa fa-check text-success"></i> Disponível <strong> por até 24 meses</strong></li>
                                <li><i class="fa fa-check text-success"></i> Possibilidade de <strong>Avaliações</strong></strong></li>
                                <li><i class="fa fa-times text-danger"></i> Conteúdo<strong> superficial</strong> da legislação</li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Customização</strong> não incluída</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Adquirir Treinamento</a>
                            <p>
                              <a href="javascript:void(0);">Ver Conteúdo</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- price element -->
  
                    <!-- price element -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing ui-ribbon-container">
                        <div class="ui-ribbon-wrapper">
                          <div class="ui-ribbon">
                            15% Desc
                          </div>
                        </div>
                        <div class="title">
                          <h2>LGPD Intermediário (Jurídico) </h2>
                          <h1>R$ 250</h1>
                          <span>Por Pessoa</span>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Treinamento Intermediário <strong> para Advogados</strong></li>
                                <li><i class="fa fa-check text-success"></i> 32 Horas de <strong>Conteúdo</strong> da LGPD</li>
                                <li><i class="fa fa-check text-success"></i> Disponível <strong> por até 24 meses</strong></li>
                                <li><i class="fa fa-check text-success"></i> Possibilidade de <strong>Avaliações</strong></strong></li>
                                <li><i class="fa fa-times text-danger"></i> Conteúdo<strong> intermediário</strong> da legislação</li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Customização</strong> não incluída</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Adquirir Treinamento</span></a>
                            <p>
                              <a href="javascript:void(0);">Ver Conteúdo</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- price element -->
  
                    
                    <!-- price element -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing">
                        <div class="title">
                          <h2>LGPD Aspectos Legais</h2>
                          <h1>R$ 525</h1>
                          <span>Por Pessoa</span>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Treinamento Intermediário <strong> para Advogados</strong></li>
                                <li><i class="fa fa-check text-success"></i> 32 Horas de <strong>Conteúdo</strong> da LGPD</li>
                                <li><i class="fa fa-check text-success"></i> Disponível <strong> por até 24 meses</strong></li>
                                <li><i class="fa fa-check text-success"></i> Possibilidade de <strong>Avaliações</strong></strong></li>
                                <li><i class="fa fa-check text-success"></i> Conteúdo<strong> Avançado</strong> da legislação</li>
                                <li><i class="fa fa-check text-success"></i> <strong>Customização</strong> disponível</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Adquirir Treinamento</span></a>
                            <p>
                              <a href="javascript:void(0);">Ver Conteúdo</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- price element -->
  
                    <!-- price element -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing">
                        <div class="title bg-blue">
                          <h2>Pacote de Treinamentos</h2>
                          <h1>R$ $1.250</h1>
                          <span>Por Pessoa</span>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Pacote de Treinamento <strong> Completo</strong></li>
                                <li><i class="fa fa-check text-success"></i> 320 Horas de <strong>Conteúdo</strong> da LGPD</li>
                                <li><i class="fa fa-check text-success"></i> Disponível <strong> por até 36 meses</strong></li>
                                <li><i class="fa fa-check text-success"></i> Possibilidade de <strong>Avaliações e Certificado</strong> </strong></li>
                                <li><i class="fa fa-check text-success"></i> Conteúdo<strong> Avançado</strong> da legislação</li>
                                <li><i class="fa fa-check text-success"></i> <strong>Customização</strong> disponível</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Adquirir Treinamento</span></a>
                            <p>
                              <a href="javascript:void(0);">Ver Conteúdo</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- price element -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}

